body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

button {
    background-color: #2980b9;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #3498db;
}

input[type="file"], input[type="range"] {
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
